.picture-item {
  object-fit: cover;
  background-color: #cccccc;
}

.picture-item__label {
  display: none;
}

/* Small */
@media (max-width: 639.98px) {
  .picture-item {
    width: 508px;
    height: 335px;
    margin-top: 20px;
  }

  .picture-item--invisible {
    display: none;
  }

}

/* Middle */
@media (min-width: 640px) and (max-width: 767.98px) {
  .picture-item {
    width: 340px;
    height: 220px;
    margin-top: 15px;
  }

  .picture-item:nth-child(odd) {
    margin-right: 15px;
  }
}

/* Large */
@media (min-width: 768px) and (max-width: 1023.98px) {
  .picture-item {
    width: 456px;
    height: 300px;
    margin-top: 20px;
  }

  .picture-item:nth-child(odd) {
    margin-right: 25px;
  }
}

/* XL */
@media (min-width: 1024px) {
  .picture-item {
    width: 542px;
    height: 358px;
    margin-top: 22px;
  }

  .picture-item:nth-child(odd) {
    margin-right: 30px;
  }
}