@import url(header.css);
@import url(body.css);
@import url(footer.css);

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("SF Pro Display"),
    url("../fonts/SFPro.woff2") format('woff2'),
    url("../fonts/SFPro.woff") format('woff'),
    url("../fonts/SFPro.ttf") format('ttf');
    }

/* All site */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Display", Arial, sans-serif;
    line-height: 1.2;
    background-color: #121212;
    color: #ffffff;
}


/* Header */








/* Main */











/* Footer */















.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1114px;
    margin: 0 auto;
}

/*
@media (max-width: 639.98px) {

}

@media (min-width: 640px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 1023.98px) {

}

@media (min-width: 1024px) {

}
*/









.footer {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
}